  #body {
    width: 100vw;
    height: 100vh;
    background-color: yellow;
    display: flex;
    align-items: center; /* horizontal */
    justify-content: center; /* vertical */
    font-size: 1vw
  }

  #header {
  	padding: 5vh 5vw 5vh 5vw;
    grid-area: header;
    background-color: #f7cf05;
    text-align: center;
	vertical-align: middle;
	align-items: center; /* horizontal */
    justify-content: center; /* vertical */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  	font-size: 5vw; 
	font-weight: 900; 
  }

  #footer {
    grid-area: footer;
    background-color: #f7cf05;
  }

  #right-sidebar {
    grid-area: rsidebar;
    background-color: #ffffff;
  }

  #left-sidebar {
    background-color: #ffffff;
    grid-area: lsidebar;
  }

  #content {
  	font-family: "Helvetica Neue", Sans-Serif;
  	height: 80vh; 
    background-color: #f7cf05;
    grid-area: content;
    margin: auto auto;
    align-items: center; /* horizontal */
    justify-content: center; /* vertical */
  }

  #wrapper {
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-areas: 'header header header ' 'lsidebar content rsidebar'  'footer footer footer ';
  }
  
  h1 {
  	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  	font-size: 5vw; 
	font-style: bold; 
  }

  h2 {
  	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  	font-size: 2vw; 
	font-style: bold; 
  }

  p {
  	width: 100%; 
  	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  	font-size: 2vw; 
	font-style: bold; 
	margin: auto auto;
	align-items: center; /* horizontal */
    justify-content: center; /* vertical */
  }

  slider { 
  	padding: 12px 20px;
  	width: 90%;
  	margin: 2vw 2vw;
  }

  .input_res {
  	background-color: #ffffff; 
  	border: none;
  	border-bottom: 4px solid #ffff00;
  	color: black;  
  	width: 100%; 
  	box-sizing: border-box; 
  	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  	font-size: 130%; 
	font-style: bold; 
  }

  .form-submit-button {
	background: #ffffff;
	padding: 20px 100px;
	color: #000000;
	border: 4px solid #000000;
	font-size: 20px;  
	text-shadow:none;
  }