
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>The Best Most Rotten of Tomatoes</title>
  <link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
</head>
<body>
<div id="wrapper">
  <div id="header">
  Yes, I would like some trash <img src="splat.png" alt="Splat" class="responsive"> for my brain

  </div>
  <div id="left-sidebar"></div>
  <div id="content">
    <div id="inner-content">

    	<h1> How trashy do you want it? </h1>
        <input type="text" id="requestInput">
        <button onclick="formChanged()" value="Gimme"/>

            <p id="demo"></p>

        <script src="/scripts.js"></script>
    </div>
  <div id="right-sidebar"></div>
  <div id="footer"></div>
</div>
</body>
</html>

